<div class="container">
    <div class="jumbotron">
        <h1>puppypuppypuppypuppy</h1>
        <p class="lead">woofwoofwoofwoof</p>
        
        <div class = "filters">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">I'm looking for a 
                <span class="caret"></span></button>
                <ul class="dropdown-menu animal">
                    <li><a href="#">Dog</a></li>
                    <li><a href="#">Cat</a></li>
                    <li><a href="#">Rabbit</a></li>
                </ul>
             </div>
             
             <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Breed  
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Dog</a></li>
                    <li><a href="#">Cat</a></li>
                    <li><a href="#">Rabbit</a></li>
                </ul>
             </div>
             
             <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sex  
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Male</a></li>
                    <li><a href="#">Female</a></li>
                </ul>
                
            </div>
            
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Age  
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Baby</a></li>
                    <li><a href="#">Young</a></li>
                    <li><a href="#">Adult</a></li>
                    <li><a href="#">Senior</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>
</div>
<!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>